*{
	padding: 0;
	margin: 0;
}

html, body{
	height: 100%;
	background-color: bla
}

.container{
	width: 100%;
	height: 100%;
	background-color: black;
}

.descricao{
	width: 100%;
	height: 637px;
	color: white;
	text-align: center;

}

.descricao a{
	position: relative;
	top: 100px;
	text-decoration: none;
	color: white;
	display: block;
	margin: 50px;
}

.descricao h1{
	position: relative;
	top: 100px;
}

