*{
	margin:0;
	padding: 0;
}

body, html{
	height: 100%;
	background-color: black;
}

.classContainer{
	text-align: center;
	width: 80%;
	height: 80px;
	margin-top: 10%;
	margin-left: 10%;

}

h1{
	color: white;
	text-align: center;
	margin-top: 20px;
}

.classEntrada{
	width: 40%;	
}
.divLista{
	width: 80%;
	height: auto;
	text-align: center;
	margin-bottom: 10px;
}

.classSelectLista{
	width: 80%;
	margin-left:25%;

}

.classMostraLista{
	width: 80%;
	height: auto;
	min-height: 20px;
	background-color: #696969;
	margin-left: 10%;
	margin-bottom: 5%;
	font-size: 30px;
	text-align: center;
}

.classSpan{
	width: 10%;
	height: 15%;
	display:block;
}
