*{
	margin: 0;
	padding: 0;
}

html, body{
	height: 100%;
}

.container{
	text-align: left;
	margin-top: 10%;
}

.bSoma{

	background-image: url('../imagens/soma.png');
	text-align: center;
	border-radius: 180px;
	background-size: 50px;
	width: 50px;
	height: 50px;
	background-repeat: no-repeat;
	border-radius: 180px;
}
.bSubtrair{

	background-image: url('../imagens/subitrair.png');
	text-align: center;
	border-radius: 180px;
	background-size: 50px;
	width: 50px;
	height: 50px;
	background-repeat: no-repeat;
	border-radius: 180px;
}
.bMultiplica{

	background-image: url('../imagens/multiplica.png');
	text-align: center;
border-radius: 180px;
	background-size: 50px;
	width: 50px;
	height: 50px;
	background-repeat: no-repeat;
	border-radius: 180px;
}
.bDivisao{

	background-image: url('../imagens/divisao.png');
	text-align: center;
border-radius: 180px;
	background-size: 50px;
	width: 50px;
	height: 50px;
	background-repeat: no-repeat;
	border-radius: 180px;
}
.bResultado{
	background-image: url('../imagens/resultado.png');
	text-align: center;
	background-repeat: no-repeat;
	border-radius: 180px;
	background-size: 50px;
	width: 50px;
	height: 50px;
}

.valorA{
	position: absolute;
	margin-top: 15px;
	
	}
.bSoma{
	position: absolute;
	margin-top: 40px;
	margin-left: 5%;
}
.bSubtrair{
	position: absolute;
	margin-top: 40px;
	margin-left: 10%;
}
.bMultiplica{
	position: absolute;
	margin-top: 40px;
	margin-left: 15%;
}
.bDivisao{
	position: absolute;
	margin-top: 40px;
	margin-left: 20%;
}
.bResultado{
	position: absolute;
	margin-top: 40px;
	margin-left: 30%;
}

.valorB{
	position: absolute;
	margin-top: 110px;
	
}
.resultado{
	position: absolute;
	margin-top: 55px;
	margin-left: 450px;
}