.title{
  color:tomato;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.square{
  width: 40px;
  height: 40px;
  background-color: red;

}

.circle{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: red;
}

.triangle{
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 50px solid #555;
}

.rectangle{
  width: 80px;
  height: 40px;
  background: green;
}