*{
	margin: 0;
	padding: 0;

}

html, body{
	height: 100%;
}

header{
	text-align: center;
}

.box{
	color: #FFFFFF;
	background-color: black;
	text-align: center;
}

div table, thead, tbody, th, td{
    border: 1px solid #FFFFFF;
    border-collapse: collapse;
}

div table{
	width: 100%;
	height: 80%;
}

div.box td.cor1{
	background-color: rgb(3, 102, 79);
}
div.box td.cor2{
	background-color: blue;
}

div.box td.cor3{
	background-color: red;
}


div.box thead{
	text-align: center;
}

div.box{
	width: 100%;
	height: 500px;
	position: relative;
	/*background-color: rgb(3, 102, 79);*/
}


.clear{
	clear: both;
}
div.box3{
	width: 100%;
	height: 100px;
	
}


div.box .cor1:hover{
	background-color: rgb(3, 102, 79);
	width: 100%;
	height: 100%;
	position: absolute;
	top:0%;
	right:0%;
}
div.box .cor2:hover{
	background-color: blue;
	width: 100%;
	height: 100%;
	position: absolute;
	top:0%;
	right:0%;
}

div.box .cor3:hover{
	background-color: red;
	width: 100%;
	height: 100%;
	position: absolute;
	top:0%;
	right:0%;
}

/*-------------------------------------------------------------*/

