*{
	padding: 0;
	margin: 0;

}

html, body{
	height: 100%;

}

.container{
	text-align:  center;
	width: 500px;
	height: 500px;

	margin-left: 450px;
	margin-top: 50px;
}

h1 {
text-align: center;
}



.teste{
	margin-top: 100px;
	text-align: center;
	font-size:  100px;
	width: 500px;
	height: 100px;
}