*{
	padding: 0;
	margin: 0;
}

html, body{
	height: 100%
}

h1{
	text-align: center;
}

header{
	width: 100%;
	height: 50%;
}

.divCorPreto{
	border:solid 1px black;
	background-color: black;
	width: 80%;
	height: 200px;
	margin-left: 10%;
}

.divCorBranco{
	border:solid 1px black;
	width: 80%;
	height: 200px;
	margin-left: 10%;
}


.corPreto{
	color: white;
	text-align: center;
	border-collapse: collapse;
	width: 90%;
	height: 80%;
	margin-left: 5%;
	margin-top: 2%;

}

.corBranco{
	text-align: center;
	border-collapse: collapse;
	width: 90%;
	height: 80%;
	margin-left: 5%;
	margin-top: 2%;
}

.pretoAzul{
	background-color: blue;
}

.pretoVerde{
	background-color: green;
}

.pretoVermelho{
	background-color: red;
}
.brancoAzul{
	background-color: blue;
}

.brancoVerde{
	background-color: green;
}

.brancoVermelho{
	background-color: red;
}

.corFundo{
	text-align: center;
	margin-left: 40%;
	margin-top: 5%;
	width: 15%;
	height: 15%;
}